<!-- Copyright (c) 2026 Neil Colvin. MIT with Commons Clause; see LICENSE. -->
<Project>
  <PropertyGroup>
	<ManifestUtilExe></ManifestUtilExe>
	<LocalCrestronSdkLibDir></LocalCrestronSdkLibDir>
	<LocalNet472ReferenceAssemblies></LocalNet472ReferenceAssemblies>
	<LocalNetFxRuntimeDir></LocalNetFxRuntimeDir>
  </PropertyGroup>

  <Target Name="DeployDriver" AfterTargets="PackageDriver" Condition="'$(DeployAfterBuild)' == 'true' And '$(Configuration)' == 'Debug'" Inputs="$(TargetDir)$(AssemblyName).pkg" Outputs="$(TargetDir)$(AssemblyName).deployed.stamp">
    <PropertyGroup>
      <PkgFile>$(TargetDir)$(AssemblyName).pkg</PkgFile>
      <DeployScriptPath>$(MSBuildProjectDirectory)\Deploy.ps1</DeployScriptPath>
    </PropertyGroup>
    <Message Text="Deploying $(AssemblyName).pkg to $(CrestronHomeIP)..." Importance="High" />
    <Exec Command="pwsh -NoProfile -NonInteractive -File &quot;$(DeployScriptPath)&quot; -PkgFile &quot;$(PkgFile)&quot; -ProcessorIP &quot;$(CrestronHomeIP)&quot; -User &quot;$(CrestronHomeFtpUser)&quot; -Password &quot;$(CrestronHomeSftpPassword)&quot;" ContinueOnError="true" />
    <Touch Files="$(TargetDir)$(AssemblyName).deployed.stamp" AlwaysCreate="true" />
  </Target>
</Project>
